.version.index /* version checker */
{
	color: #0000E3;
	background-color: #855642;
}

.html
{
	background-color: #CFFFF4;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500.4999999999998px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 1px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -13px;
	padding-bottom: 30px;
}

#pppu91-4
{
	width: 0.01px;
	margin-left: -221px;
}

#ppu91-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
}

#pu91-4
{
	width: 0.01px;
}

#u91-4
{
	z-index: 2;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u99-4
{
	z-index: 6;
	width: 112px;
	min-height: 65px;
	background-color: transparent;
	line-height: 31px;
	letter-spacing: -3px;
	font-size: 26px;
	color: #1B1464;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 87px;
	left: 537px;
}

#u149
{
	z-index: 36;
	width: 471px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 683px;
}

#slideshowu171
{
	z-index: 44;
	width: 0.01px;
	height: 386px;
	position: relative;
	margin-right: -10000px;
	margin-top: 132px;
}

#u190
{
	position: absolute;
	width: 673px;
	height: 386px;
	background-color: transparent;
}

#u190popup
{
	z-index: 45;
}

#u193
{
	z-index: 46;
	width: 673px;
	height: 386px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u241
{
	z-index: 48;
	width: 673px;
	height: 386px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u250
{
	z-index: 50;
	width: 673px;
	height: 386px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u259
{
	z-index: 52;
	width: 673px;
	height: 386px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u268
{
	z-index: 54;
	width: 673px;
	height: 386px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u277
{
	z-index: 56;
	width: 673px;
	height: 386px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u286
{
	z-index: 58;
	width: 673px;
	height: 386px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u286_img
{
	margin-top: -17px;
	margin-bottom: -17px;
}

#u295
{
	z-index: 60;
	width: 673px;
	height: 386px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u286_clip,#u295_clip
{
	overflow: hidden;
	width: 673px;
	height: 386px;
}

#u295_img
{
	margin-top: -25px;
	margin-bottom: -25px;
}

#u172-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 346px;
}

#u172-4popup
{
	z-index: 62;
}

#u172
{
	color: #999999;
}

#u185-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 346px;
	left: 642px;
}

#u185-4popup
{
	z-index: 66;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#pu144
{
	width: 0.01px;
	margin-left: 680px;
	margin-top: -207px;
}

#u144
{
	z-index: 30;
	width: 214px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u159
{
	z-index: 34;
	width: 284px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 233px;
}

#pu107
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 13px;
	margin-left: 1213px;
}

#u107
{
	z-index: 10;
	width: 125px;
	background-color: transparent;
	margin-left: 58px;
	position: relative;
}

#u113
{
	z-index: 12;
	width: 125px;
	background-color: transparent;
	margin-left: 58px;
	margin-top: 6px;
	position: relative;
}

#u119-4
{
	z-index: 14;
	width: 161px;
	min-height: 101px;
	background-color: transparent;
	font-size: 20px;
	line-height: 24px;
	text-align: right;
	margin-left: 21px;
	margin-top: 11px;
	position: relative;
}

#u120-4
{
	z-index: 18;
	display: block;
	vertical-align: top;
	margin-top: 98px;
	position: relative;
}

#pu154
{
	width: 0.01px;
	margin-left: -222px;
	margin-top: 2px;
}

#u154
{
	z-index: 32;
	width: 300px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u139
{
	z-index: 38;
	width: 276px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 309px;
}

#u123
{
	z-index: 42;
	width: 302px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 593px;
}

#u134
{
	z-index: 40;
	width: 298px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 907px;
}

#pu121-4
{
	width: 0.01px;
	margin-left: -222px;
	margin-top: 13px;
}

#u121-4
{
	z-index: 22;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u122-4
{
	z-index: 26;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 203px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 5px;
	padding-bottom: 4px;
}

#page .verticalspacer
{
	clear: both;
}

